aiohttp==3.8.4
backoff==2.2.1
cryptography==41.0.3
Faker==19.1.0
orjson==3.9.*
pydantic[dotenv]==1.10.9
pydantic_factories==1.17.3

# using only for tests (typically auth service already builded some where)
PyJWT==2.8.0
pytest==7.4.0
pytest-asyncio==0.21.1
requests==2.31.*
websockets==11.0.3
