LOGGING_LEVEL=10
WORKERS=1

SERVICE_HOST=test-api
SERVICE_PORT=4600

MONGODB_USERNAME=mongoadmin
MONGODB_PASSWORD=mongopass
MONGODB_HOST=test-mongo-db
MONGODB_PORT=27017

SENTRY_DSN=https://fe864a3b0a826a573e8044aca4fa2eba@o4506010378698752.ingest.sentry.io/4506010381451264
AUTH_PUBLIC_SECRET_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7l3gk5IZud5An4xDeZbr\nNG2me4bp1dQJ/QD08CmGZgvDRKD7pyIVicQib5t51B6Qlw/R4lMC0AA4yiHTSMx7\nwHe3uch/W8r4GkuZDa4QRAMlGkxvf3MoAZYHuGHUoBuVVayk0baL6I2pGVZwAGgu\nA+A4K6XQC6ERtgFspjTtjizrB1Grstlu1HgWO2ZD6QR0byloLiySf3h2a4B42kJR\nfiYiV0fVLAJQLqnpt/STbGWUCzjDFsoRR43C0zjCVKQconDXk82Zc+p4t1cIV3yE\n+bHLweFQ/vRIOrNza9kxo17bj8LCOvazUFXT4CqMEDvaO4Texx6QNwC6cYwr4Tsz\nkQIDAQAB\n-----END PUBLIC KEY-----\n
