POSTGRES_DB=users_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=test-psql
POSTGRES_PORT=5432

REDIS_HOST='test-redis'
REDIS_PORT=6379

SERVICE_HOST='test-auth'
SERVICE_PORT=4000
SECRET_KEY='test_secret'

HOST='0.0.0.0'

LOGGING_LEVEL=10
WORKERS=1
